$color-bg-shadow:   #DDD;
$color-bg:          #EEE;
$color-border:      #999;

$black:             #000000;
$light_gray:        lightgray;
$white:             #FFFFFF;

$danger-red:        #DC3545;
$red:               red;
$orange:            orange;
$info-blue:         #17A2B8;
$blue:              #007BFF;

$breakpoint-xs:     576px;
$breakpoint-sm:     768px;
$breakpoint-md:     992px;
$breakpoint-lg:     1200px;