db.sqlite3
__pycache__
/docs/
main/settings/local.py
/media/
/static/
*.log
.env
/tmp/
.sass-cache

/provisioning/ansible/vault.txt
/provisioning/ansible/*.retry
/provisioning/ansible/tmp/
/provisioning/ansible/*/.galaxy_install_info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
venv/
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log.*
*.pot

# Sphinx documentation
docs/_build/

.idea
.DS_Store

.ipynb_checkpoints

*/locale/*

# Nuxt
front/src/.nuxt
front/src/node_modules
